{% extends "base.html" %} {% block title %} Schrodinger's Cats {% endblock %}
{% block content %}

<center>
<h1>(=✪ᆽ✪=)</h1>
<h2>About This Project</h2>
<p>This website takes in a dataset of HIV activities and is used to identify activities against HIV(IC50).</p>
<p>The app itself is a machine learning model. </p>
<p>It outputs the following: </p>
<ul>
    <li>A graph</li>
    <li>A table with information that all in some way describe the chemical structure</li>
    <li>whatever else here</li>
</ul>


<br>

<p>idk if the below is needed but yea it exists for now</p>
<h1>How Does It Work?</h1>
<p>first off upload ur csv file </p>
<p>second of all choose a sorting algorithm , with the assumption ur file is correct </p>
<p>third of all , tada , the predictions</p>

</center>

{% endblock %}