{% extends "base.html" %} {% block title %} Schrodinger's Cats {% endblock %}
{% block content %}

<style>
    body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: #040244;
            overflow: hidden;
            min-width:100%;
            padding:0rem 2rem;
        }

        nav a {
            float: left;
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        nav a:hover {
            color: rgb(133, 190, 246);
            border-bottom: 1px solid currentColor;
        }

    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        resize: vertical;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
      
      input[type=submit] {
        background-color: rgba(160,63,240);
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
      
      input[type=submit]:hover {
        background-color: rgb(160,63,251);
      }
      
      .container {
        border-radius: 5px;
        background-color: #ccc;
        padding: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }

      h3{
        color: white;
      }

      p{
        color: white;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }

    
</style>


<body>
    {% csrf_token %}

<nav>
    <a href="{% url 'home' %}">
    {% load static %}
    <img src="{% static 'website/schrodinger.png' %}" width="60px" height="60px" alt="logo">
    </a>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'home' %}">About</a>
    <a href="{% url 'step1' %}">Services</a>
    <a href="{% url 'contact' %}">Contact</a>
</nav>


<h3>Contact Form</h3>
<p>you can contact us here regarding any information !</p>
<div class="container">
    <form action="">
      <label for="fname">First Name</label>
      <input type="text" id="fname" name="firstname" placeholder="John">
  
      <label for="lname">Last Name</label>
      <input type="text" id="lname" name="lastname" placeholder="Doe">
  
      <label for="subject">Subject</label>
      <textarea id="subject" name="subject" placeholder="Lorem ipsum dolor sit amet..." style="height:200px"></textarea>
  
      <input type="submit" value="Submit">
    </form>
  </div>
  
  </body>


{% endblock %}