{% extends "base.html" %} {% block title %} Schrodinger's Cats {% endblock %}
{% block content %}

<style>
    body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        nav {
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: #040244;
            overflow: hidden;
            min-width:100%;
            padding:0rem 2rem;
        }

        nav a {
            float: left;
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        nav a:hover {
            color: rgb(133, 190, 246);
            border-bottom: 1px solid currentColor;
        }

    .dropdown{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 1rem;
        margin-top: 1.5rem;
    }
    .dropdown button{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border:0px;
        background-color:rgb(30, 43, 95);
        color: aliceblue;
        padding: 0.5rem 1rem;
        border-radius: 10px;
    }
    .dropdown h1{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 40px;
        font-weight: 50px;
        color: aliceblue;
        margin: 2rem;
    }

    .dropdown h3{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 30px;
        font-weight: 40px;
        color: aliceblue;
        margin: 2rem;
    }

    .dropdown p{
        color: rgb(181, 201, 219);
        margin:0;
    }

    .molecules-img{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2rem 4rem;
    }
    
</style>
<body>
    {% csrf_token %}

<nav>
    <a href="{% url 'home' %}">
    {% load static %}
    <img src="{% static 'website/schrodinger.png' %}" width="60px" height="60px" alt="logo">
    </a>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'home' %}">About</a>
    <a href="{% url 'step1' %}">Services</a>
    <a href="{% url 'contact' %}">Contact</a>
</nav>
<div class="dropdown">
<form action="{% url 'step3' %}">
  {% csrf_token %}
    <h1>Thanks for this HIV dataset, here are your molecules!</h1>
    <div>
        {% load static %}
        <img src="{% static 'website/predicted_good_molecules_2.png' %}" width="400px" height="400px" alt="molecules">
    </div>
    <h3>This looks like a binary dataset..</h3>
    <p>We suggest a Random Forest Algorithm for this dataset!</p>
  <label for="choicealgo"></label>
  <br><br>
  <a href="{% url 'step3' %}"><button type="submit">Predict</button></a>
</form>
</div>
</body>
<script>
    //This section of code stores the value of the dropdown menu
    //The menu values can be: graph, mean-squared, describe, and predict
    console.log("you are on step2");
    var algorithm = "";
    function algorithmValue(choicealgo) {
        event.preventDefault();
        algorithm = choicealgo.value;
        console.log("algorithm selection", algorithm)
    }

    function submitForm() {
        if(algorithm != "none"){
            //call S function for the selected algorithm
        }else{
            event.preventDefault();
            alert("Algorithm cannot be none");
        }
        
    }

    //now that algorithm is selected, use the appropriate algorithm function
</script>
{% endblock %}