{% extends "base.html" %} {% block title %} Schrodinger's Cats {% endblock %}
{% block content %}

<style>
    .dropdown{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 1rem;
        margin-top: 3rem;
    }
    .dropdown button{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border:0px;
        background-color:rgb(30, 43, 95);
        color: aliceblue;
        padding: 0.5rem 2rem;
        border-radius: 10px;
    }
    .dropdown h1{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 30px;
        font-weight: 40px;
        color: aliceblue;
        margin-bottom: 2rem;
    }
</style>

<nav>
    <a href="#home">Home</a>
    <a href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#contact">Contact</a>
</nav>

<div class="dropdown">
<form >
    <h1>Choose an algorithm:</h1>
  <label for="choicealgo"></label>
  <select name="choicealgo" id="choicealgo" onchange="algorithmValue(this)">
    <option value="none">None</option>
    <option value="graph">Graph</option>
    <option value="mean-squared">Visualize</option>
    <option value="describe">Describe</option>
    <option value="predict">Binary Classify</option>
  </select>
  <br><br>
  <button type="submit" onclick="submitForm()">Submit</button>
</form>
</div>
    
<script>
    //This section of code stores the value of the dropdown menu
    //The menu values can be: graph, mean-squared, describe, and predict
    console.log("you are on step2");
    var algorithm = "";
    function algorithmValue(choicealgo) {
        event.preventDefault();
        algorithm = choicealgo.value;
        console.log(algorithm)
    }

    function submitForm() {
        event.preventDefault();
        if(algorithm != "none"){
            //call the function for the selected algorithm
        }else{
            alert("Algorithm cannot be none");
        }
        
    }

    //now that algorithm is selected, use the appropriate algorithm function
</script>
{% endblock %}