{% extends "base.html" %} {% block title %} Schrodinger's Cats {% endblock %}
{% block content %}
<p>Choose a sorting algorthinem</p>
<form action="/action_page.php">
  <label for="choicealgo">Choose an algorithm:</label>
  <select name="algo" id="algo">
    <option value="graph">Graph</option>
    <option value="mean-squared">Mean Squared</option>
    <option value="describe">Describe</option>
    <option value="predict">Predict</option>
  </select>
  <br><br>
  <input type="submit" value="Submit">
</form>

<script>
    
</script>
{% endblock %}